/************************************************************************
Opdracht: Piano-Tiles 
Groep: Chris Groenewoud, Sebastiaan Willemsen, Tim van Dillen, Thijs Severs. 
Klas: 5HC
Schooljaar: 2022/2023
*************************************************************************/

body{
   background-color:rgb(0, 0, 0);  
}

#knop{
   position: absolute;
   top: 700;
   left: 270;
   width: 300px;
   height: 50px;
}

/* basis voor dit stukje CSS komt van [eecheng87] deze hebben we aangepast*/
#start_knop {
   position: relative;
   top: 10px;
   left: 30px;
   margin-left: -50px;
   margin-top: -50px;
   display: block;
   font-size: 1.3em;
   width: 200px;
   height: 100px;
   font-weight: light;
   font-family: 'Trebuchet MS', sans-serif;
   text-align: center;
   line-height: 100px;
   letter-spacing: -1px;
   color: white;
   border: none;
   background: #5a99d4;
   cursor: pointer;
}

#start_knop:hover{
   width: 205px;
   height: 105px;
}

